<div class="navigation">
    <ul>
        <li class="list">
            <a href="#">
                <span class="icon"><i class="bi-people"></i></span>
                <span class="text">About</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon"><i class="bi-book"></i></span>
                <span class="text">Subjects</span>
            </a>
        </li>
        <li class="list active">
            <a href="#">
                <span class="icon"><i class="house-link bi-house"></i></span>
                <span class="text">Home</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon"><i class="bi-map"></i></span>
                <span class="text">Locate</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon"><i class="bi-telephone"></i></span>
                <span class="text">Contact</span>
            </a>
        </li>
        <div class="indicator"></div>
    </ul>
</div>
<div class="container-fluid p-0 m-0" style="width:100%">
    <img class="img-fluid" style="width:100%" src="{{ url_for('static', filename='images/homepage/layer-peaks-2.png') }}">
</div>