{% extends 'template/main-template.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/account/style.css')}}">
<div class="container-fluid pt-5 bg-primary hero-header">
	<div class="container pt-5">
		<div class="row g-5 pt-5">
			<div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
				<h1 class="display-4 text-white mb-4 animated slideInRight">Manage Account</h1>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
						<li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
						<li class="breadcrumb-item"><a class="text-white" href="/account">Account</a></li>
						<li class="breadcrumb-item text-white active" aria-current="page">Manage</li>
					</ol>
				</nav>
			</div>
			<div class="col-lg-6 align-self-end text-center text-lg-end">
				<img class="img-fluid" src="{{ url_for('static', filename='/images/homepage/hero-img-2.png') }}" alt="" style="max-height: 465px;">
			</div>
		</div>
	</div>
</div>

<div class="bg-white shadow rounded-lg d-block d-sm-flex">
	<div class="profile-tab-nav border-right">
		<div class="p-4">
			<div class="img-circle text-primary text-center mb-3">
				{% if 'http' in user.avatar %}
					<a href="/account"><img src="{{ user.avatar }}" alt="Avatar Image" class="shadow"></a>
				{% else %}
					{% set avatar = user.avatar|replace('frontend/static/', '') %}
					<a href="/account"><img src="{{ url_for('static', filename=avatar) }}" alt="Avatar Image" class="shadow"></a>
				{% endif %}
			</div>
			<h4 class="text-center mb-1">{{user.first_name}}&nbsp{{user.last_name}}</h4>
			{% if user.admin %}
				<small class="text-center text-muted d-block">Admin</small>
			{% else %}
				<small class="text-center text-muted d-block">User</small>
			{% endif %}
		</div>
		<div class="nav flex-column nav-pills pb-5" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="account-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
				<i class="fa fa-home text-center mr-1"></i> 
				Account Details
			</a>
			<a class="account-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
				<i class="fa fa-key text-center mr-1"></i> 
				Password
			</a>
			<a class="account-link" id="application-tab" data-toggle="pill" href="#application" role="tab" aria-controls="application" aria-selected="false">
				<i class="fa fa-camera text-center mr-1"></i> 
				Profile Picture
			</a>
		</div>
	</div>
	<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
		<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
			<h3 class="mb-4">Account Details</h3>
			<form action="{{ url_for('account.validate_account_update') }}" method="POST" enctype="multipart/form-data">
				{{ formAccount.csrf_token }}
        		{{ formAccount.hidden_tag() }}
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>First Name*</label>
							<input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" value="{{user.first_name}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Last Name*</label>
							<input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" value="{{user.last_name}}">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Email*</label>
							<input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{user.email}}">
							{% if error == 'Email already in use' %}	
								<p class="text-danger mt-1">{{error}}</p>
							{% endif %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Phone number</label>
							{% if user.phone_number == None %}
								<input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number">
							{% else %}
								<input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Phone Number" value="{{user.phone_number}}">
							{% endif %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>username*</label>
							<input type="text" class="form-control" name="username" id="username" value="{{user.username}}">
							{% if error == 'Username already in use' %}	
								<p class="text-danger mt-1">{{error}}</p>
							{% endif %}
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<label for="address" class="mr-2">Address*</label>
							<div class="col-sm-2 py-1">
								<input type="text" class="form-control" id="street_number" name="street_number" placeholder="Number" value="{{address.street_number}}">
								<input type="hidden" id="current_street_number" value="{{ address.street_number }}">
							</div>
							<div class="col-sm-4 px-1 py-1">
								<input type="text" class="form-control" id="street_name" name="street_name" placeholder="Street" value="{{address.street_name}}">
								<input type="hidden" id="current_street_name" value="{{ address.street_name }}">
							</div>
							<div class="col-sm-3 py-1 px-1">
								<input type="text" class="form-control" id="suburb" name="suburb" placeholder="Suburb" value="{{address.suburb}}">
								<input type="hidden" id="current_suburb" value="{{ address.suburb }}">
							</div>
							<div class="col-sm-3 py-1 px-1">
								<input type="text" class="form-control" id="postcode" name="postcode" placeholder="Postcode" value="{{address.postcode}}">
								<input type="hidden" id="current_postcode" value="{{ address.postcode }}">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label>Bio</label>
							<textarea class="form-control" id="bio" name="bio" rows="4">{{ bio.user_bio }}</textarea> <!-- !! TEST -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<p class="text-danger"><button id="account-update-button" type="submit" name="submit" class="btn btn-primary">Update</button>
						<a id="cancel-button-account" onclick="window.location.reload()" class="btn btn-outline-danger ms-1">Cancel</a>
						{% if error %}
							<script>
								alert('{{error}}');
							</script>
							<span class="ms-2 text-danger" style="border: 1.15px solid;"></span><span class="ms-2"></span>{{error}}</p>
						{% endif %}
					</div>
					<div class="col-md-1 text-right">
						<a id="delete-button" onclick="deleteAccount()" class="btn btn-danger">Delete</a>
					</div>
				</div>
			</form>
		</div>
		<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
			<h3 class="mb-4">Password Settings</h3>
			<form action="{{ url_for('account.validate_password_update') }}" method="POST" enctype="multipart/form-data">
				{{ formPassword.csrf_token }}
				{{ formPassword.hidden_tag() }}
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Old password</label>
							<input type="password" id="old_password" name="old_password" class="form-control" minlength="8" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>New password</label>
							<input type="password" id="new_password" name="new_password" class="form-control" minlength="8" required>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Confirm new password</label>
							<input type="password" id="confirm_password" name="confirm_password" class="form-control" minlength="8" required>
						</div>
					</div>
				</div>
				<div>
					<p class="text-danger"><button id="password-update-button" type="submit" name="submit" class="btn btn-primary">Update</button>
					<a id="cancel-button-password" onclick="window.location.reload()" class="btn btn-outline-danger">Cancel</a>
					{% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for category, message in messages %}
								{% if message != 'Please log in to access this page.' and message != '' %}
									<script>
										alert('{{ message }}');
									</script>
									<span class="ms-2 text-danger" style="border: 1.15px solid;"></span><span class="ms-2"></span>{{ message }}</p>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endwith %}</span>
				</div>
			</form>
		</div>
		<div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
			<h3 class="mb-4">Change Profile Picture</h3>
			<form action="{{ url_for('account.validate_picture_update') }}" method="POST" enctype="multipart/form-data">
				{{ formPicture.csrf_token }}
				{{ formPicture.hidden_tag() }}
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="form-group">
								<label class="mb-1">Upload an Image</label><br>
								<input type="file" id="file-input" name="picture" accept="image/*" />
							</div>
							<div class="form-check">
								<input class="form-check-input" type="checkbox" name="checkbox" id="defaultCheck2" >
								<label class="form-check-label" for="defaultCheck2">
								Use AI image Instead
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-11">
						<p class="text-danger"><button id="picture-update-button"  name="submit" type="submit" class="btn btn-primary">Update</button>
						<a id="cancel-button-picture" onclick="window.location.reload()" class="btn btn-outline-danger">Cancel</a>
						{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
								{% for category, message in messages %}
									{% if category == 'error-2' %}
										{% if message != 'Please log in to access this page.' and message != '' %}
											<script>
												alert('{{ message }}');
											</script>
											<span class="ms-2 text-danger" style="border: 1.15px solid;"></span><span class="ms-2"></span>{{ message }}</p>
										{% endif %}
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endwith %}</span>
					</div>
					<div class="col-md-1 text-right">
						<a id="restore-button" href="/account/manage/picture/restore" class="btn btn-danger">Restore</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	document.getElementById('cancel-button-account').addEventListener('click', function() {
		window.location.reload()
	});
	document.getElementById('cancel-button-password').addEventListener('click', function() {
		window.location.reload()
	});
	document.getElementById('cancel-button-picture').addEventListener('click', function() {
		window.location.reload()
	});

	function deleteAccount() {
		var result = confirm("Are you sure you want to delete your account?");
		if (result) {
			window.location.href = "/account/manage/delete";
		}
	}
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}