{% extends 'template/main-template.html' %}
{% block content %}
    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">{{title}}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
                            <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="/terms and policies">Terms & Policies</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">{{title}}</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="{{ url_for('static', filename='/images/homepage/hero-img-2.png') }}" alt="" style="max-height: 465px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->



    <!-- Privacy Policy Start -->
    <div class="container-fluid bg-light py-5" id='privacy policy'>
        <div class="container">
            <div class="align-items-left">
                <small class="wow fadeIn" data-wow-delay="0.1s">Last Updated: July 18, 2023</small>
                <h2 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">1. Introduction</h2>
                <div class="m-5">
                    <p class="text-left text-dark mb-4 wow fadeIn" data-wow-delay="0.3s">At Ambrose Treacy College ("Company", "we", "our", "us"), we respect your privacy and are committed to protecting it through our compliance with this policy. Ambrose Treacy College ("Company", "we", "our", "us") provides online website creation services powered by AI technologies. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website and use our Site and/or Services.
                    </p>
                </div>
                <h2 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">2. Information We Collect</h2>
                <div class="m-5">
                    <h3 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">2.1. Personal Information</h2>
                    <div class="m-5">
                        <p class="text-left text-dark mb-4 wow fadeIn" data-wow-delay="0.3s">We may collect personal identification information (Name, email address, address, phone number, etc.) directly from you when you voluntarily submit it to us. 
                        </p>
                    </div>
                    <h3 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">2.2. Data from Blogs</h2>
                    <div class="m-5">
                        <p class="text-left text-dark mb-4 wow fadeIn" data-wow-delay="0.3s">We collect information related to the blogs you create, including but not limited to text, images, and title. We may also collect information about the veiwers of your blog.
                        </p>
                    </div>
                    <h3 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">2.3. Usage and Technical Data</h2>
                    <div class="m-5">
                        <p class="text-left text-dark mb-4 wow fadeIn" data-wow-delay="0.3s">We automatically collect certain information when you visit, use or navigate the site. This information does not reveal your specific identity but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Site and other technical information. 
                        </p>
                    </div>
                </div>
                <h2 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">3. How We Use Your Information</h2>
                <div class="m-5">
                    <p class="text-left text-dark wow fadeIn" data-wow-delay="0.3s"> 
                        We use the information we collect or receive:
                    </p>
                    <div class="m-5 wow fadeIn" data-wow-delay="0.4s">
                        <p class="wow fadeIn" data-wow-delay="0.1s"><span><li class="fa-fa-dot-circle text-dark">To send administrative or promotional information to you.</li></span></p>
                        <p class="wow fadeIn" data-wow-delay="0.1s"><span><li class="fa-fa-dot-circle text-dark">To train AI models.</li></span></p>
                        <p class="wow fadeIn" data-wow-delay="0.9s"><span><li class="fa-fa-dot-circle text-dark">To create, manage or delete your account</li></span></p>
                        <p class="wow fadeIn" data-wow-delay="0.3s"><span><li class="fa-fa-dot-circle text-dark">To post testimonials.</li></span></p>
                        <p class="wow fadeIn" data-wow-delay="0.3s"><span><li class="fa-fa-dot-circle text-dark">For other  Business Purposes, Legal Reasons and Contractual.</li></span></p>
                    </div>
                </div>
                <h2 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">4. How We Share Your Information</h2>
                <div class="m-5">
                    <p class="text-left text-dark wow fadeIn" data-wow-delay="0.3s"> 
                        We only share and disclose your information in the following situations:
                    </p>
                    <div class="m-5 wow fadeIn" data-wow-delay="0.4s">
                        <p class="mb-0 wow fadeIn" data-wow-delay="0.1s"><span><li class="fa-fa-dot-circle text-dark">Compliance with Laws.</li></span></p>
                        <p class="wow fadeIn" data-wow-delay="0.1s"><span><li class="fa-fa-dot-circle text-dark">With your Consent.</li></span></p>
                        <p class="wow fadeIn" data-wow-delay="0.1s"><span><li class="fa-fa-dot-circle text-dark">To perform Services you have requested or that are necessary to perform the Services.</li></span></p>
                    </div>
                </div>
                <h2 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">5. Cookies and Tracking Technologies</h2>
                <div class="m-5">
                    <p class="text-left text-dark mb-4 wow fadeIn" data-wow-delay="0.3s">We may use cookies and similar tracking technologies to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our <a href="/terms/cookie policy">Cookie Policy</a>.
                    </p>
                </div>
                <h2 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">6. Third-Party Websites</h2>
                <div class="m-5">
                    <p class="text-left text-dark mb-4 wow fadeIn" data-wow-delay="0.3s">Our Site may contain links to third-party websites and applications of interest that are not affiliated with us. Once you have used these links to leave our Site, any information you provide to these third parties is not covered by this Privacy Policy, and we cannot guarantee the safety and privacy of your information. Before visiting and providing any information to any third-party websites, you should inform yourself of the privacy policies and practices (if any) of the third party responsible for that website, and should take those steps necessary to, in your discretion, protect the privacy of your information. We are not responsible for the content or privacy and security practices and policies of any third parties, including other sites, services or applications that may be linked to or from the Site.
                    </p>
                </div>
                <h2 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">7. Security of Your Information</h2>
                <div class="m-5">
                    <p class="text-left text-dark mb-4 wow fadeIn" data-wow-delay="0.3s">We use administrative, technical, and physical security measures to protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse. Any information disclosed online is vulnerable to interception and misuse by unauthorized parties. Therefore, we cannot guarantee complete security if you provide personal information.
                    </p>
                </div>
                <h2 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">8. Policy for Children</h2>
                <div class="m-5">
                    <p class="text-left text-dark mb-4 wow fadeIn" data-wow-delay="0.3s">We do not knowingly solicit information from or market to users under the age of 15. By agreeing to our <a href="/terms/terms anf conditions">Terms and Conditions</a> you are warranting that you are or are over the age of 15.
                    </p>
                </div>
                <h2 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">9. Controls for Do-Not-Track Features</h2>
                <div class="m-5">
                    <p class="text-left text-dark mb-4 wow fadeIn" data-wow-delay="0.3s">Most web browsers and some mobile operating systems include a Do-Not-Track ("DNT") feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this Privacy Policy.
                    </p>
                </div>
                <h2 class="mb-4 mt-4 align-items-left text-dark wow fadeIn" data-wow-delay="0.2s">10. Options Regarding Your Information</h2>
                <div class="m-5">
                    <p class="text-left text-dark mb-4 wow fadeIn" data-wow-delay="0.3s">You may review, change, or terminate your account at any time. In some cases, we may not be able to remove your personal information, in which case we will let you know if we are unable to do so and why. Any goods created by our Site and/or Services will not be removed and will remain in our database.
                    </p>
                </div>
                <small class="mt-3 wow fadeIn" data-wow-delay="0.2s">If you have any questions about our {{title}}, please contact us at <a href="mailto:admin@atc.qld.edu.au">admin@atc.qld.edu.au</a> or by using the <a href="#contact">contact form</a> below and we'll try our best to reply as soon as posible.</small>
            </div>
        </div>
    </div>
    <!-- Privacy Policy End -->

    <!-- Contact Start -->
    <div class="container-fluid bg-primary feature pt-5" id='contact'>
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Contact Us</div>
                    <h1 class="mb-4 align-items-center text-white">Feel Free To Contact Us!</h1>
                    <h3 class="text-white" style="margin-bottom: .75em"><i class="fa fa-check text-secondary me-2"></i>24/7 Support</h3>
                    <p class="text-left text-white mb-4">Connect with us effortlessly through our contact section. Drop us a message, ask a question, or share your thoughts. We're here to listen and provide prompt assistance for all your inquiries.</p>
                </div>
                <div class="col-lg-8">
                    <div class="wow fadeIn" data-wow-delay="0.3s">
                        <div class="contact-form">
                            <div id="alertMessage"></div>
                            <form action="{{ url_for('terms.privacy_policy') }}" method="POST" id="contactForm">
                                <div class="row">
                                    <div class="col-sm-6 control-group">
                                        <input type="text" name="name" class="form-control py-2" id="name" value="{{user.first_name}}" placeholder="Your Name"
                                            required="required" data-validation-required-message="Please enter your name" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="col-sm-6 control-group">
                                        <input type="email" name="email" class="form-control py-2" id="email" value="{{user.email}}" placeholder="Your Email"
                                            required="required" data-validation-required-message="Please enter your email" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="col-12 control-group">
                                        <input type="text" name="subject" class="form-control py-2" id="subject" placeholder="Subject"
                                            required="required" data-validation-required-message="Please enter a subject" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="col-12 control-group">
                                        <textarea class="form-control" name="message" rows="4" id="message" placeholder="Message"
                                            required="required"
                                            data-validation-required-message="Please enter your message"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-outline-light w-100 py-2" type="submit" method="POST" name="submit" id="sendMessageButton">
                                            <span>SEND</span>
                                            <div class="d-none spinner-border spinner-border-sm text-light ms-3" role="status"></div>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->

    <div class="container-fluid px-0 bg-primary">
        <img style="padding:0;width:100%" src="{{ url_for('static', filename='images/homepage/peaks-1.svg') }}"></div>
    </div>

{% endblock %}