{% extends 'template/errors.html' %}          
{% block content %}                   
    <img style="width: 150px;" class="logo" src="{{ url_for('static', filename=img2) }}">   <!-- school logo -->
    <form>   <!-- creates a form and calls upon the function contact_form_page and set's the method to POST-->
        <h1>{{header}}</h1>   
        <h2 style="padding-bottom:5px">{{message}}</h2>
        <a style="" class="go_back" href="/">Go Home</a>  <!--doesn't work-->
    </form> 
{% endblock %} 