{% extends "template/main-template.html" %}

{% block content %}

    <!-- Hero Start -->
    <div class="container-fluid p-0 m-0 hero bg-overlay-40">
        <div class="video-container">
            <video autoplay muted loop class="bg-video" id="parallaxVideo">
                <img class="bg-video" src="{% static '//atc_site//images//main//1.jpg' %}" id="parallaxVideo">
            </video>
        </div>
        <div class="container px-3 py-5">
            <div class="row g-5 py-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    {% if user.is_authenticated %}
                        <h1 class="display-4 text-white mb-4 animated slideInRight pt-lg-5">Welcome Back, {{ user.first_name }}!</h1>
                    {% else %}
                        <h1 class="display-4 text-white mb-4 animated slideInRight">Ambrose Treacy College</h1>
                    {% endif %}
                    <p class="text-white mb-4 animated slideInRight">Welcome to Ambrose Treacy College, an esteemed boys' school nestled in the heart of Indooroopilly. Discover Boundless Learning and Inspiring Growth on the Banks of Brisbane River. Where Years 4-12 Thrive Amidst Nature's Abundance, Embracing Excellence, and Innovation with State-of-the-Art Facilities and a Close-Knit Community!</p>
                    <div class="wow fadeInUp" data-wow-delay="0.5s">
                        <a href="#About" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Read More</a>
                        <a href="#contact" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Hero End -->

    <!--{% include 'template/second-nav.html' %}-->

    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- About Start -->   <!--     ADD A 'TRY NOW' BUTTON      -->
    <div class="container-fluid pt-5 bg-white m-0" id="About" style="overflow:hidden">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/homepage/atc website/teacher-teaching.jpg') }}">
                    </div>
                </div>
                <div class="col-lg-6 wow slideInRight" data-wow-delay="0.3s">
                    <div class="py-2">
                        <div class="btn btn-sm border rounded-pill text-primary px-3 mb-4">About Us</div>
                    </div>
                    <div class="owl-carousel testimonial-carousel-long border-start border-primary">
                        <div class="testimonial-item ps-5">
                            <h1 class="mb-4">Who Are <span style="color:var(--secondary)">We</span>?</h1>
                            <p class="">At Ambrose Treacy College, we are a vibrant and inclusive community dedicated to nurturing young minds and empowering them to reach their full potential. As a premier educational institution, we are committed to providing a holistic learning experience that fosters academic excellence, character development, and a strong sense of social responsibility.
                            <br><br>
                            Our dedicated team of educators and staff work tirelessly to create a safe and supportive environment where students can thrive intellectually, emotionally, and spiritually. With a rich history and a forward-thinking approach to education, we embrace innovation and foster a love for learning that extends beyond the classroom. 
                            </p>
                        </div>
                        <div class="testimonial-item ps-5">
                            <h1 class="mb-4">What <span style="color:var(--secondary)">We</span> Do?</h1>
                            <p class="">We are dedicated to fostering an inclusive and vibrant learning community that nurtures the holistic development of young minds. Our mission is to inspire and empower each student to reach their full potential, academically, emotionally, and socially.
                                <br><br>
                                Through a dynamic and innovative curriculum, we strive to cultivate critical thinking, creativity, and a love for lifelong learning. Our experienced and passionate educators are committed to providing personalized support and guidance to every student, ensuring they thrive in their educational journey.
                            </p>
                        </div>
                        <div class="testimonial-item ps-5">
                            <h1 class="mb-4">Why <span style="color:var(--secondary)">We</span> Do It?</h1>
                            <p class="">Our driving force is to foster holistic growth and inspire excellence in every aspect of education. We firmly believe in creating a vibrant and inclusive learning environment that nurtures the mind, body, and spirit of each student.
                                <br><br>
                                Our unwavering commitment to academic excellence ensures that students receive a well-rounded education, empowering them to embrace challenges with confidence and adaptability. By promoting critical thinking, creativity, and innovation, we prepare our students to be lifelong learners and future leaders.
                               
                            </p>
                        </div>
                        <div class="testimonial-item ps-5">
                            <h1 class="mb-4">How <span style="color:var(--secondary)">We</span> Do It?</h1>
                            <p class="">
                                Our dedicated team of educators utilizes cutting-edge teaching methodologies to encourage critical thinking, creativity, and problem-solving skills. With a focus on individualized attention, we ensure that every student receives the support they need to excel.
                                <br><br>
                                Our state-of-the-art facilities provide a dynamic and engaging setting for learning, enabling students to explore their interests across a range of subjects, including arts, sciences, and sports. We also encourage a strong sense of community, fostering values of respect, compassion, and integrity among our students.
                              
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 bg-white">
        <img class="img-fluid" src="{{ url_for('static', filename='images/homepage/peaks-5.svg') }}">
    </div>
    <!-- About End -->

    <!-- Feature Start -->
    <div class="container-fluid bg-secondary feature-3" id="cummunity">
        <div class="container pt-5">
            <div class="row g-5">
                <div class="col-lg-6 align-self-center pb-md-5">
                    <div class="wow fadeInLeftBig" data-wow-delay="0.3s">
                        <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Our Community</div>
                        <h1 class="text-white mb-4">About Our Community</h1>
                        <p class="text-light mb-4">As a parent, student, staff member, or alumni, you are an integral part of this vibrant and dynamic community. Together, we strive to create an environment where everyone feels welcomed, respected, and inspired to achieve their full potential.</p>
                        <div class="d-flex align-items-center text-white mb-3">
                            <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                                <i class="fa fa-check"></i>
                            </div>
                            <span>Welcoming environment where every individual is valued and respected!</span>
                        </div>
                        <div class="d-flex align-items-center text-white mb-3">
                            <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                                <i class="fa fa-check"></i>
                            </div>
                            <span>Promoting diversity and celebrating different backgrounds and cultures!</span>
                        </div>
                        <div class="d-flex align-items-center text-white mb-3">
                            <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                                <i class="fa fa-check"></i>
                            </div>
                            <span>Engaging students in various community service initiatives!</span>
                        </div>
                    </div>
                    <div class="row g-4 pt-3 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="col-sm-6">
                            <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                <i class="fa fa-users fa-3x text-white"></i>
                                <div class="ms-3">
                                    <h2 class="text-white mb-0" data-toggle="counter-up">1357</h2>
                                    <p class="text-white mb-0">Students</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                <i class="fa fa-chalkboard-teacher fa-3x text-white"></i>
                                <div class="ms-3">
                                    <h2 class="text-white mb-0" data-toggle="counter-up">323</h2>
                                    <p class="text-white mb-0">Teachers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-content-center pb-5 text-center wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid" src="{{ url_for('static', filename='images/homepage/atc website/Faith-Life-Masses-and-Liturgies-1.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 bg-light">
        <img class="img-fluid" src="{{ url_for('static', filename='images/homepage/peaks-4.svg') }}">
    </div>
    <!-- Feature End --> 


    <!-- Service Start -->
    <div class="container-fluid bg-light" id="#services" style="padding:0">
        <div class="container pb-4">
            <div class="row g-5 align-items-center">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill bg-dark text-light px-3 mb-3">EREA Touchstones</div>
                    <h1 class="mb-4 text-dark">Edmund Rice Education Australia</h1>
                    <p class="mb-4 text-dark">Established in 2007 by the Christian Brothers, EREA is a network of schools, entities and offices that offer a Catholic education in the tradition of its founder, Blessed Edmund Rice. In 2014 there are almost 50 schools administered by EREA, enrolling over 35,000 students throughout Australia.</p>
                    <a class="btn btn-dark rounded-pill px-5 py-3" href="/erea">Read More</a> <!--! FIX (hover) !-->
                </div>
                <div class="col-lg-8">
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.2s">
                                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <i class="fa fa-school fa-2x"></i>
                                        </div>
                                        <h5 class="mb-3">Liberating Education</h5>
                                        <p style="font-size:.875em">The right to fosters liberating education empowering students to think critically and effect positive change.</p>
                                        <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <i class="fa fa-book-open fa-2x"></i>
                                        </div>
                                        <h5 class="mb-3">Gospel Spirituality</h5>
                                        <p style="font-size:.875em">Embracing a faith-filled environment, guiding boys to live with compassion, integrity, and purpose.</p>
                                        <a class="btn px-3 mt-auto mx-auto" href="/#genie">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-4">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <i class="fa bi-people-fill fa-2x"></i>
                                        </div>
                                        <h5 class="mb-3">Inclusive Community</h5>
                                        <p style="font-size:.875em">EREA schools uphold an inclusive community where every student is valued, respected, and supported.</p>
                                        <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.7s">
                                    <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                                        <div class="service-icon btn-square">
                                            <i class="fa fa-gavel fa-2x"></i>
                                        </div>
                                        <h5 class="mb-3">Justice and Solidarity</h5>
                                        <p style="font-size:.875em">Promoting justice and solidarity thatcultivates compassionate leaders committed to creating a better world.</p>
                                        <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- campus start -->
    <div class="container-fluid bg-campus px-0 bg-light" id="campus">
        <div class="p-5 bg-overlay-55">
            <div class="col-lg-12 align-content-center p-5 text-white text-center">
                <h1 class="text-white underline-secondary mb-3 wow fadeInDown" data-wow-delay=".8s" style="z-index:-5">Our Campus</h1>
                <p class="mb-4 px-3 wow fadeIn" data-wow-delay="0.2s">Spread across lush greenery and overlooking the meandering Brisbane River, our campus boasts an awe-inspiring view that inspires creativity and curiosity among our students.Our sprawling campus is a testament to modern education, providing a dynamic and enriching learning environment for students from Years 4 to 12.</p>
                <a href="/#contact" class="btn btn-light rounded-pill px-5 py-3 wow fadeInUp" data-wow-delay=".8s">Take a Tour</a>
            </div>
        </div>
    </div>
    <!-- campus end -->

    <!-- Values Start -->
    <div class="container-fluid bg-light" style="overflow:hidden"> <!-- transform into the different Models Adopted from Open AI-->
        <div class="container py-5">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="btn btn-sm border rounded-pill text-dark px-3 mb-3">School Values</div>
                <h1 class="mb-4">Our School Values</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/homepage/atc website/learning.png') }}" alt="">
                        <a class="case-overlay text-decoration-none" href="#">
                            <small>Learning</small> 
                            <span class="mb-3" style="display:inline"><h5 class="lh-base text-white" style="font-size:1.075em;display:inline">We empower the boys to thrive academically<span class="text-show">...</span><span class="text-hide typewriter">&nbsp fostering curiosity, critical thinking, and a lifelong love for learning.</span>
                            </h5></span>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/homepage/atc website/service.png') }}" alt="">
                        <a class="case-overlay text-decoration-none" href="#">
                            <small>Service</small> <!-- gpt-4 -->
                            <span class="mb-3" style="display:inline"><h5 class="lh-base text-white mb-3" style="font-size:1.075em;display:inline">We encourages boys to actively serve their community<span class="text-show">...</span><span class="text-hide typewriter">&nbsp fostering a sense of responsibility through service hours.</span>
                            </h5></span>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeInRight" data-wow-delay="0.5s">
                    <div class="case-item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="{{ url_for('static', filename='images/homepage/atc website/leadership.png') }}" alt="">
                        <a class="case-overlay text-decoration-none" href="#">
                            <small>Leadership</small> <!-- davinci? -->
                            <span class="mb-3" style="display:inline"><h5 class="lh-base text-white mb-3" style="font-size:1.075em;display:inline">We cultivate leadership among boys empowering them<span class="text-show">...</span><span class="text-hide typewriter">&nbsp to lead with integrity, resilience, and a sense of service.</span>
                            </h5></span>
                            <span class="btn btn-square btn-primary"><i class="fa fa-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Values End -->

    <!-- FAQs Start 
    <div class="container-fluid" id="FAQs"> bg-blob-1
        <div class="container py-1">
            <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Popular FAQs</div>
                <h1 class="mb-4">Frequently Asked Questions</h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="accordion" id="accordionFAQ1">
                        <div class="accordion-item">
                            <h2 class="accordion-header wow fadeIn" id="headingOne" data-wow-delay="0.1s">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What is WebGenie?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    WebGenie is an innovative application that uses Artificial Intelligence (AI) to create unique, functional, and stunning websites effortlessly. It simplifies the web development process, making it accessible to everyone, regardless of technical know-how.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.2s">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How does WebGenie work?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    WebGenie uses advanced AI algorithms to understand your requirements and creates a website that suits your needs. You just need to input your preferences, and WebGenie will handle the rest, giving you a ready-to-launch website in no time.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.3s">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Do you only create HTML websites?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    At the moment, WebGenie only creates HTML websites. However, we are always traing our models on new data and working on adding more features to our platform. Stay tuned for more updates!
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.4s">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    Will my website be mobile-friendly?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#accordionFAQ1">
                                <div class="accordion-body">
                                    Yes! WebGenie was trained on responsive data so creates websites that are mobile-friendly. You can also customize your website to suit your needs using your personalised Genie.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion" id="accordionFAQ2">
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.5s">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    How long will it take to get a new website?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    WebGenie can create a website in a matter of minutes. However, the time taken to create a website depends on the complexity of the website and the number of pages you want to create. You can also customize your website to suit your needs using your personalised Genie.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.6s">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    I’m on a strict budget. Do you have any low cost options?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    Yes! WebGenie offers a free plan that allows you to create a website with a single page. You can upgrade to a paid plan at anytime to create a website with multiple pages and more features. Our free users also gain access to their very own Genie, however, they only get 3 wishes. Check out our pricing page for more details.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.7s">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Is WebGenie suitable for my business?
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    Absolutely! WebGenie is suitable for all types of businesses. Whether you're a small startup looking for a simple website or a large corporation needing a complex web solution, WebGenie's AI can cater to all your needs.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item wow fadeIn" data-wow-delay="0.8s">
                            <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    What if I don’t like the website created by WebGenie?
                                </button>
                            </h2>
                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                data-bs-parent="#accordionFAQ2">
                                <div class="accordion-body">
                                    WebGenie allows you to customize your website to suit your needs. You can also use your personalised Genie to make changes to your website. If you still don't like the website, you can always delete it and create a new one.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     FAQs End -->

    <!-- Schools start-->
    <div class="wrap-school bg-light">
        <div class="col-expand wow slideInRight" data-wow-delay="0.3s">
            <div class="bg-overlay-50 text-white" style="width:100%;height:100%;overflow:hidden">
                <h1 class="m-2 text-white">Junior</h1>
                <p class="px-5">Our Junior school provides an exciting educational journey for young learners from Years 4 to 6. Nestled along the scenic Brisbane River in Indooroopilly, our expansive campus offers modern facilities and a nurturing environment, fostering curiosity, creativity, and academic excellence in every student.</p>
                <a class="btn btn-secondary rounded-pill px-5 py-3 text-white" href="#">Read More</a>
            </div>
        </div>
        <div class="col-expand wow slideInRight" data-wow-delay="0.5s">
            <div class="bg-overlay-50 text-white" style="width:100%;height:100%;overflow:hidden">
                <h1 class="m-2 text-white">Middle</h1>
                <p class="px-5">Our vibrant Middle School is a nurturing haven for students in Years 7 to 9. Located on the scenic Brisbane River in Indooroopilly, our innovative and inclusive environment fosters academic growth, personal development, and a love for learning, preparing young minds for a bright future.</p>
                <a class="btn btn-secondary rounded-pill px-5 py-3 text-white" href="#">Read More</a>
            </div>
        </div>
        <div class="col-expand wow slideInRight" data-wow-delay="0.7s">
            <div class="bg-overlay-50 text-white" style="width:100%;height:100%;overflow:hidden">
                <h1 class="m-2 text-white">Senior</h1>
                <p class="px-5">Our senior campus, situated on the scenic banks of the Brisbane River in Indooroopilly, offers a dynamic learning environment for students in Years 10 to 12. With cutting-edge facilities, expert faculty, and a focus on holistic development, we empower students to excel in academics and beyond.</p>
                <a class="btn btn-secondary rounded-pill px-5 py-3 text-white" href="#">Read More</a>
            </div>
        </div>
    </div>
    <!-- schools end -->

<!-- stories start 
    <div class="stories-wrapper px-3 m-0 py-5">
        <div class="stories m-0 py-2 mx-3">
            <div class="stories-header">
                <div class="stories-header-text">
                    <h2>#StoriesOfATC</h2>
                    <p class="lead-text">Discover the amazing #StoriesofATC and see the opportunities ATC can offer your child.</p>
                </div>
                <div class="stories-header-link">
                    <a class="btn btn-secondary rounded-pill px-4 py-3 text-white" href="https://google.com/" target="_blank">Find out more</a>
                </div>
            </div>
            <div class="stories-posts">
                <div class="stories-loading">
                    <svg width="160px" height="160px" viewBox="0 0 160 160" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <style type="text/css">
                                
                                #loader1 {
                                    -webkit-animation:loading1 1.5s 0s infinite cubic-bezier(0.42,0,0.58,1);
                                    transform:rotate(270deg) translateY(4px) translateX(4px);
                                    stroke-dasharray: 150, 500, 1, 500;
                                    stroke-dashoffset:-438;
                                    transform-origin:center center;
                                    
                                }
                                @-webkit-keyframes loading1 {
                                    0% {
                                        stroke-dasharray: 0, 500, 1, 500;
                                        stroke-dashoffset:0;
                                        transform:rotate(-90deg) translateY(4px) translateX(4px);
                                    }
                                    
                                    50% {
                                        stroke-dasharray: 150, 500, 1, 500;
                                        stroke-dashoffset:-100;
                                    }
                                    
                                    100% {
                                        stroke-dasharray: 150, 500, 1, 500;
                                        transform:rotate(270deg) translateY(4px) translateX(4px);
                                        stroke-dashoffset:-438;
                                    }
                                    
                                }
                                
                                #loader3 {
                                    -webkit-animation:loading3 1.5s 0s infinite cubic-bezier(0.42,0,0.58,1);
                                    transform:rotate(270deg);
                                    stroke-dasharray: 150, 500, 1, 500;
                                    stroke-dashoffset:-438;
                                    transform-origin:center center;
                                    
                                }
                                @-webkit-keyframes loading3 {
                                    0% {
                                        stroke-dasharray: 0, 500, 1, 500;
                                        stroke-dashoffset:0;
                                        transform:rotate(-90deg);
                                    }
                                    
                                    50% {
                                        stroke-dasharray: 150, 500, 1, 500;
                                        stroke-dashoffset:-100;
                                    }
                                    
                                    100% {
                                        stroke-dasharray: 150, 500, 1, 500;
                                        transform:rotate(270deg);
                                        stroke-dashoffset:-438;
                                    }
                                    
                                }
                                
                            
                        </style>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-dasharray="440,500,1,500">
                            <circle id="loader1" class="circle" stroke="rgba(0,0,0,0.25)" stroke-width="10" cx="80" cy="80" r="70"></circle>
                            <circle id="loader3" class="circle" stroke="#00954D" stroke-width="10" cx="80" cy="80" r="70"></circle>
                        </g>
                    </svg>
                </div>
            </div>
        </div>    
    </div>
    stories end --> 

    <!-- Contact Start -->
    <div class="container-fluid bg-primary feature pt-5" id='contact'>
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Contact Us</div>
                    <h1 class="mb-4 align-items-center text-white">Feel Free To Contact Us!</h1>
                    <h3 class="text-white" style="margin-bottom: .75em"><i class="fa fa-check text-secondary me-2"></i>24/7 Support</h3>
                    <p class="text-left text-white mb-4">Connect with us effortlessly through our contact section. Drop us a message, ask a question, or share your thoughts. We're here to listen and provide prompt assistance for all your inquiries.</p>
                </div>
                <div class="col-lg-8">
                    <div class="wow fadeIn" data-wow-delay="0.3s">
                        <div class="contact-form">
                            <div id="alertMessage"></div>
                            <form id="contactForm">
                                <div class="row">
                                    <div class="col-sm-6 control-group">
                                        <input type="text" name="name" class="form-control py-2" id="name" value="{{user.first_name}}" placeholder="Your Name"
                                            required="required" data-validation-required-message="Please enter your name" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="col-sm-6 control-group">
                                        <input type="email" name="email" class="form-control py-2" id="email" value="{{user.email}}" placeholder="Your Email"
                                            required="required" data-validation-required-message="Please enter your email" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="col-12 control-group">
                                        <input type="text" name="subject" class="form-control py-2" id="subject" placeholder="Subject"
                                            required="required" data-validation-required-message="Please enter a subject" />
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="col-12 control-group">
                                        <textarea class="form-control" name="message" rows="4" id="message" placeholder="Message"
                                            required="required"
                                            data-validation-required-message="Please enter your message"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-outline-light w-100 py-2" type="submit" method='POST' name="submit" id="sendMessageButton">
                                            <span>SEND</span>
                                            <div class="d-none spinner-border spinner-border-sm text-light ms-3" role="status"></div>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
    <div class="container-fluid p-0 m-0 bg-light" >
        <img class="img-fluid" style="width:100%" src="{{ url_for('static', filename='images/homepage/peaks-3.svg') }}">
    </div>


    <!-- Staff Start -->
    <div class="container-fluid bg-light">
        <div class="container pb-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Our Staff</div>
                    <h1 class="mb-4">Meet Some of Our Friendly Staff</h1>
                    <p class="mb-4">Our staff at Ambrose Treacy College is a dedicated and passionate team, committed to providing an exceptional educational experience for our students. With diverse expertise and a deep understanding of individual needs, our teachers create a nurturing and inspiring learning environment.
                        <br><br>Together, they embody the values of excellence, integrity, and compassion, shaping young minds and empowering them to become confident, responsible, and compassionate global citizens.</p>
                    <a class="btn btn-primary rounded-pill px-5 py-3" href="">Read More</a>
                </div>
                <div class="col-lg-7">
                    <div class="row g-4" style="overflow-x:hidden">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{{ url_for('static', filename='images/homepage/atc website/c_ryan.png') }}" alt="">
                                        <h5 class="mb-0">Mr Chris Ryan</h5>
                                        <small>College Principle</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeInRight" data-wow-delay="0.5s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{{ url_for('static', filename='images/homepage/atc website/d_gardiner.png') }}" alt="">
                                        <h5 class="mb-0">Mr David Gardiner</h5>
                                        <small>Deputy Principle</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pt-md-4">
                            <div class="row g-4">
                                <div class="col-12 wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{{ url_for('static', filename='images/homepage/atc website/l_morgan.png') }}" alt="">
                                        <h5 class="mb-0">Miss Luara Morgan</h5>
                                        <small>Dean of Learning</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeInRight" data-wow-delay="0.5s">
                                    <div class="team-item bg-white text-center rounded p-4 pt-0">
                                        <img class="img-fluid rounded-circle p-4" src="{{ url_for('static', filename='images/homepage/atc website/m_warr.png') }}" alt="">
                                        <h5 class="mb-0">Mr Mathew Warr</h5>
                                        <small>Dean of Faith and Mission</small>
                                        <div class="d-flex justify-content-center mt-3">
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-facebook-f"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-twitter"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-instagram"></i></a>
                                            <a class="btn btn-square btn-primary m-1" href=""><i
                                                    class="fab fa-linkedin-in"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Staff End -->

<!--
    <div class="container-xxl py-3">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">Testimonial</div>
                    <h1 class="mb-4">What Say Our Clients!</h1>
                    <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam
                        amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus
                        clita duo justo et tempor eirmod magna dolore erat amet</p>
                    <a class="btn btn-primary rounded-pill px-4" href="">Read More</a>
                </div>
                <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel border-start border-primary">
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="{{ url_for('static', filename='images/homepage/testimonial-1.jpg') }}"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Client Name</h5>
                                    <span>Profession</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="{{ url_for('static', filename='images/homepage/testimonial-2.jpg') }}"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Client Name</h5>
                                    <span>Profession</span>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-item ps-5">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p class="fs-4">Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet</p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded-circle" src="{{ url_for('static', filename='images/homepage/testimonial-3.jpg') }}"
                                    style="width: 60px; height: 60px;">
                                <div class="ps-3">
                                    <h5 class="mb-1">Client Name</h5>
                                    <span>Profession</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Testimonial End -->

    <!-- carousel Start -->
    <div class="owl-carousel testimonial-carousel">
        <div class="testimonial-item">
            <img class="" style="object-fit:cover;width:100vw;height:300px" src="{{ url_for('static', filename='images/homepage/atc website/banner/1.jpg') }}">
        </div>
        <div class="testimonial-item">
            <img class="" style="object-fit:cover;width:100vw;height:300px" src="{{ url_for('static', filename='images/homepage/atc website/banner/2.jpg') }}">
        </div>
        <div class="testimonial-item">
            <img class="" style="object-fit:cover;width:100vw;height:300px" src="{{ url_for('static', filename='images/homepage/atc website/banner/3.jpg') }}">
        </div>
        <div class="testimonial-item">
            <img class="" style="object-fit:cover;width:100vw;height:300px" src="{{ url_for('static', filename='images/homepage/atc website/banner/4.jpg') }}">
        </div>
        <div class="testimonial-item">
            <img class="" style="object-fit:cover;width:100vw;height:300px" src="{{ url_for('static', filename='images/homepage/atc website/banner/5.jpg') }}">
        </div>
    </div>
    <!-- carousel End -->


    <!-- Newsletter Start -->
    <!--<div class="container-fluid bg-light newsletter-bg py-5 px-0" id='newsletter'>
        <div class="py-5">
            <div class="py-5">
                <div class="row g-0 p-3">
                    <div class="col-md-2 py-5 ps-lg-0 pt-md-0"></div>
                    <div class="col-md-8 newsletter bg-primary text-center wow fadeIn" data-wow-delay="0.4s">
                        <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Newsletter</div>
                        <h1 class="text-white mb-4">Consider Subscribing To Our Newsletter!</h1>
                        <div class="position-relative w-100 mt-3 mb-2">
                            <form>
                                <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                                    placeholder="Enter Your Email" style="height: 48px;">
                                <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                                        class="fa fa-paper-plane text-primary fs-4"></i></button>
                            </form>
                        </div>
                        <small class="text-white-50">Want to hear about exciting new features and updates?</small>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Newsletter End -->

    <script>
        function link() {
            var element = document.getElementById("home-link");
            element.classList.add("active");
            var nav = document.getElementById("navbar")
            nav.classList.add("bg-overlay-40")
        };
        link();
    </script>
{% endblock %}