{% extends 'template/login-signup.html' %}          
{% block content %}                   
    <img style="width: 150px;padding-bottom:5%;" class="logo" src="{{ url_for('static', filename='images/logos/atc-logo.svg') }}">   <!-- school logo -->
    <form action="{{ url_for('main.login', next=next) }}" method="POST">   <!-- creates a form and calls upon the function contact_form_page and set's the method to POST-->
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <h1 style="font-weight:500; margin-bottom:5%">Login</h1>                 
        <p style="color:red;margin-bottom:5%">{{error}}</p>
        <input name="email" style="text-align:center" placeholder="Username or Email" minlength="2" required />        <!-- retrieves the users email -->     
        <input name="password" type="password" class="textfield" style="margin:0; text-align:center" placeholder="Password" minlength="8" required />
        <div class="hyperlink"><a href="/forgot password">Forgot password?</a></div>        
        <button type="submit" method="POST" name="submit" class="submit">Submit</button>
        <a href="/" class="go_back">Go Home</a>                                             
        <p class="message">Not Registered? <a href="/signup">Create an Account</a></p>
    </form> 
{% endblock %} 

