{% extends 'template/login-signup.html' %}          
{% block content %}                   
    <img style="width: 150px;padding-bottom:5%;" class="logo" src="{{ url_for('static', filename='images/logos/atc-logo.svg') }}">   <!-- school logo -->
    <form>   <!-- creates a form and calls upon the function contact_form_page and set's the method to POST-->
        <h1 style="padding-bottom:5%;">Your Password Has Been Reset!</h1>
        <p style="padding-bottom:5%;">Your password has been changed click the button below to login.</p>
        <a href="/login" class="submit btn-a">Login</a>                                             
    </form> 
{% endblock %} 
